# Copia este archivo a ".env" y rellena los valores.
# NUNCA subas el .env real a git (ya esta en .gitignore).

SEPOLIA_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/TU_API_KEY
PRIVATE_KEY=0xTU_CLAVE_PRIVADA
CONTRACT_ADDRESS=0x237b7111Be8436Ba3c74826C3C2DA6B3b2309cE1
