# Copia este archivo a ".env" y rellena los valores.
# NUNCA subas el .env real a git (ya esta en .gitignore).

SEPOLIA_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/TU_API_KEY
PRIVATE_KEY=0xTU_CLAVE_PRIVADA
CONTRACT_ADDRESS=0xbF43Ec80BDC51ADBCF8dd9932eA2E79DD7f27c84
